body { background: #2e9fa2; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 15px; display: flex; }
.block-token-0 { color: #1476f2; font-size: 15px; margin-bottom: 5px; }
.block-uploader-1 { color: #5df6cd; font-size: 19px; margin-bottom: 5px; }
.block-cache-2 { color: #177fcb; font-size: 21px; margin-bottom: 5px; }
.block-shipping-3 { color: #69b8f3; font-size: 15px; margin-bottom: 5px; }
.block-router-4 { color: #9ea8f6; font-size: 18px; margin-bottom: 5px; }
.block-uploader-5 { color: #b6ba76; font-size: 19px; margin-bottom: 5px; }
.block-email-6 { color: #db8adc; font-size: 13px; margin-bottom: 5px; }
.block-auth-7 { color: #b7fea8; font-size: 14px; margin-bottom: 5px; }
.block-email-8 { color: #114bc0; font-size: 12px; margin-bottom: 5px; }
.block-router-9 { color: #70c719; font-size: 15px; margin-bottom: 5px; }
.block-cart-10 { color: #98112f; font-size: 20px; margin-bottom: 5px; }
.block-cart-11 { color: #9b1e04; font-size: 13px; margin-bottom: 5px; }